<!DOCTYPE html>
<html>
<head>
    <title>Add Student</title>
</head>
<body>

<h2>Add Student</h2>

<form method="POST">
    Name:<br>
    <input type="text" name="name"><br><br>

    Roll Number:<br>
    <input type="text" name="roll"><br><br>

    Branch:<br>
    <input type="text" name="branch"><br><br>

    Year:<br>
    <input type="number" name="year"><br><br>

    <button type="submit">Add Student</button>
</form>

<br>
<a href="/students">Back</a>

</body>
</html>