{% extends "base.html" %}

{% block content %}

<h2 class="mb-4">At-Risk Students</h2>

<div class="card shadow">
    <div class="card-body">

        <table class="table table-bordered table-striped">
            <thead class="table-dark">
                <tr>
                    <th>Name</th>
                    <th>Roll</th>
                    <th>Average Marks</th>
                    <th>Attendance %</th>
                </tr>
            </thead>

            <tbody>
                {% for row in data %}
                <tr>
                    <td>{{ row[0] }}</td>
                    <td>{{ row[1] }}</td>
                    <td>{{ "%.2f"|format(row[2]) }}</td>
                    <td>{{ "%.2f"|format(row[3]) }}%</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

    </div>
</div>

{% endblock %}